.main-container{
    display: flex;
    flex-direction: column;
}

.title-container{
    background-color: rgb(20, 20, 20);
    border-radius: 5em;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
    padding: 0.5em;
    padding-left: 0;
    padding-right: 0;
}

.title{
    color: whitesmoke;
}

.info-container{
    background-color: whitesmoke;
    border-style: solid;
    border-width: 0.5em;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.img-container{
    width: 50vw;
}

.image{
    align-self: center;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 2.5em;
    height: 370px;
}

.info{
    background-color: white;
    border-style: double;
    border-width: 0.5em;
    border-radius: 1em;
    box-shadow: 10px 5px 20px black;
    padding: 1em;
    margin: 4em;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50vw;
}

.scores{
    display: flex;
    flex-direction: column;
}

.pro{
    align-self: center;
}

.diets{
    margin-top: 1em;
    background-color: gainsboro;
    border-radius: 1em;
}

.principal-diets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dietP{
    font-weight: bold;
}

.desc-how{
    display: flex;
    flex-direction: row;
    margin: 2em;
}

.description-container{
    width: 50vw;
    border-style: double;
    border-width: 0.5em;
    border-radius: 1em;
    padding: 1em;
    padding-top: 0;
}

.desc-title{
    background-color: rgb(100, 100, 100);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 1em;
    margin-bottom: 0.5em;
}

.description{
    margin: 0;
    background-color: rgb(150, 150, 150);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 0.5em;
}

.howto-container{
    width: 50vw;
    border-style: double;
    border-width: 0.5em;
    border-radius: 1em;
    padding: 1em;
    padding-top: 0;
}

.how-title{
    background-color: rgb(100, 100, 100);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 1em;
    margin-bottom: 0.5em;
}

.howto{
    margin: 0;
    background-color: rgb(150, 150, 150);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 0.5em;
}